<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="abstract">
	<f:translate key="tx_rkwcompetition_domain_model_upload.abstract" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />
<label for="full">
	<f:translate key="tx_rkwcompetition_domain_model_upload.full" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />
<label for="remark">
	<f:translate key="tx_rkwcompetition_domain_model_upload.remark" />
</label><br />
	<f:form.textarea property="remark" id="remark" cols="40" rows="15" /><br />
</html>