<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-rkw-competition" >
	<tr>
		<td><f:translate key="tx_rkwcompetition_domain_model_upload.abstract" /></td>
		<td>{upload.abstract.originalResource.name}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_rkwcompetition_domain_model_upload.full" /></td>
		<td>{upload.full.originalResource.name}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_rkwcompetition_domain_model_upload.remark" /></td>
		<td>{upload.remark}</td>
	</tr>
</table>
</html>