<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<table class="responsive-table responsive-table--background">
		<tr>
			<td>
				Kurzfassung
			</td>
			<f:if condition="{register.upload.abstract}">
				<f:then>
					<td>
						<f:link.typolink
								parameter="{register.upload.abstract.originalResource.publicUrl}"
								target="_blank"
								title="Download"
								absolute="true"
						>
							{register.upload.abstract.originalResource.name}
						</f:link.typolink>
					</td>
					<td>
						<f:link.action
								action="delete"
								arguments="{register: register, property: 'abstract', fileReference: register.upload.abstract}"
						>
							Löschen
						</f:link.action>
					</td>
				</f:then>
				<f:else>
					<td>
						<f:form.upload property="upload.fileAbstractUploadArray" />
					</td>
				</f:else>
			</f:if>
		</tr>

		<tr>
			<td>
				Langfassung
			</td>
			<f:if condition="{register.upload.full}">
				<f:then>

					<td>
						<f:link.typolink
								parameter="{register.upload.full.originalResource.publicUrl}"
								target="_blank"
								title="Download"
								absolute="true"
						>
						{register.upload.full.originalResource.name}
						</f:link.typolink>
					</td>
					<td>
						<f:link.action
								action="delete"
								arguments="{register: register, property: 'full', fileReference: register.upload.full}"
						>
							Löschen
						</f:link.action>
					</td>
				</f:then>
				<f:else>
					<td>
						<f:form.upload property="upload.fileFullUploadArray" />
					</td>
				</f:else>
			</f:if>
		</tr>

	</table>

</html>