<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-rkw-competition">
	<tr>
		<td><f:translate key="tx_rkwcompetition_domain_model_upload.abstract" /></td>
		<td>
				<a href="{upload.abstract.originalResource.publicUrl}">
					{upload.abstract.originalResource.name}
				</a>
			</td>
	</tr>
	<tr>
		<td><f:translate key="tx_rkwcompetition_domain_model_upload.full" /></td>
		<td>
				<a href="{upload.full.originalResource.publicUrl}">
					{upload.full.originalResource.name}
				</a>
			</td>
	</tr>
	<tr>
		<td><f:translate key="tx_rkwcompetition_domain_model_upload.remark" /></td>
		<td>{upload.remark}</td>
	</tr>
</table>
</html>
