<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwCompetition/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <!-- upcoming events -->
    <f:if condition="{registerList}">
        <f:then>
            <table class="responsive-table responsive-table--background" >
                <f:for each="{registerList}" as="register">
                    <f:if condition="{register.competition}">
                        <tr>
                            <td>
                                <h3 class="h4">{register.competition.title}</h3>
                                <p>
                                    Anmeldeschluss: {register.competition.registerEnd -> f:format.date(format: 'd.m.Y')}
                                </p>
                                <p>
                                    Status: <f:translate key="tx_rkwcompetition_fluid.partials_participant_listing.status.<rkw:registerStatus register='{register}' />" />
                                </p>
                                <f:if condition="<rkw:registerStatus register='{register}' /> == 200">
                                    <p>
                                        Grund: {register.adminRefusedText}
                                    </p>
                                </f:if>
                                <p>
                                    Projektbeschreibung:
                                    <f:if condition="{register.upload.abstract} && {register.upload.full}">
                                        <f:then>
                                            Komplett
                                        </f:then>
                                        <f:else>
                                            <f:if condition="{register.upload.abstract}">
                                                <f:else>
                                                    Abstract fehlt
                                                </f:else>
                                            </f:if>
                                            <f:if condition="{register.upload.full}">
                                                <f:else>
                                                    Langfassung fehlt (optional)
                                                </f:else>
                                            </f:if>
                                        </f:else>

                                    </f:if>
                                </p>
                                <f:render partial="Participant/Options" arguments="{_all}" />
                            </td>
                        </tr>
                    </f:if>
                </f:for>
            </table>
        </f:then>
        <f:else>
            <div class="system-message" role="alert">
                <div class="system-message__item system-message__item--severity0">
                    <f:translate key="tx_rkwcompetition_fluid.partials_participant_listing.noCompetitionPlanned" />
                </div>
            </div>
        </f:else>
    </f:if>

</html>
