{namespace postmaster=Madj2k\Postmaster\ViewHelpers}

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:rkw="http://typo3.org/ns/RKW/RkwCompetition/ViewHelpers"
      data-namespace-typo3-fluid="true"
>
<f:layout name="Default" />

This template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Competition:
          Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Single View for Competition</h1>

    <postmaster:email.uri.action action="update" controller="Jury" extensionName="RkwCompetition" pluginName="jury"
                                 absolute="true" noCacheHash="true" pageUid="{settings.juryPid}"
                                 additionalParams="{tx_rkwcompetition_jury: {token: juryReference.inviteToken}}" />

    <f:flashMessages queueIdentifier="extbase.flashmessages.tx_rkwcompetition_register" as="flashMessages">
        <f:if condition="{flashMessages}">
            <div class="system-message system-message--scroll" role="alert">
                <f:for each="{flashMessages}" as="flashMessage">
                    <div class="system-message__item system-message__item--severity{flashMessage.severity}">
                        <f:format.raw>{flashMessage.message}</f:format.raw>
                    </div>
                </f:for>
            </div>
        </f:if>
    </f:flashMessages>

    <f:render partial="Competition/Properties" arguments="{competition:competition}" />

    <f:comment><!-- ViewHelper returns true if reg time for competition is still running --></f:comment>
    <f:if condition="<rkw:isDateWithinDeadline date='{competition.registerEnd}' />">
        <f:then>
            <f:link.action
                    class="btn btn--primary"
                    action="new"
                    controller="Register"
                    pluginName="Register"
                    pageUid="{settings.registerPid}"
                    additionalParams='{tx_rkwcompetition_register: {competition: competition}}'
            >
                <f:translate key="tx_rkwcompetition_fluid.templates_competition_show.register" />
            </f:link.action>
        </f:then>
        <f:else>
            <strong>Die Anmeldefrist ist abgelaufen.</strong>
        </f:else>
    </f:if>


</f:section>
</html>
