<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Register:
          Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">

    <f:render partial="FlashMessages" arguments="{_all}" />

    <f:render partial="FormErrors" />

    <h3>{juryReference.competition.title}</h3>
    <f:if condition="{errorMessage}">
        <f:then>
            <p><strong>{errorMessage}</strong></p>
            <f:comment>
                <!-- @toDo: Hier allgemeinen info@rkw.de Link hinterlegen als Support. Oder E-Mail des Wettbewerb-Admins? -->
            </f:comment>
            <p><f:format.raw><f:translate key="tx_rkwcompetition_fluid.templates_jury_edit.hint" /></f:format.raw></p>
        </f:then>
        <f:else>
            <p><f:translate key="tx_rkwcompetition_fluid.templates_jury_edit.introduction" /></p>

            <p><f:translate key="tx_rkwcompetition_fluid.templates_jury_edit.guideHint" /></p>
            <f:form action="update" name="juryReference" object="{juryReference}" >
                <div class="flex-container">
                    <div class="form flex flex-basis-8 full-width-medium space-between">

                        <f:render partial="Jury/FormFields" arguments="{juryReference:juryReference}" />

                        <button type="submit" class="btn btn--primary">
                            <f:translate key="tx_rkwcompetition_fluid.templates_jury_edit.edit" />
                        </button>
                    </div>
                </div>
            </f:form>
        </f:else>
    </f:if>

</f:section>
</html>
