<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:feRegister="http://typo3.org/ns/Madj2k/FeRegister/ViewHelpers"
	  data-namespace-typo3-fluid="true">

	<div class="form__field width25 break-after">
		<label class="form-label" for="salutation">
			<f:translate key="tx_rkwcompetition_domain_model_register.salutation" />
			<f:render partial="LabelSuffix" arguments="{field: 'salutation', mandatoryFields: settings.mandatoryFields.register}" />
		</label>
		<f:form.select
				class="select-field"
				id="salutation"
				property="salutation"
				options="{0: '{f:translate(key: \'tx_rkwcompetition_domain_model_register.salutation.I.0\')}', 1: '{f:translate(key: \'tx_rkwcompetition_domain_model_register.salutation.I.1\')}', 2: '{f:translate(key: \'tx_rkwcompetition_domain_model_register.salutation.I.2\')}', 3: '{f:translate(key: \'tx_rkwcompetition_domain_model_register.salutation.I.3\')}'}"
		/>
	</div>

	<div class="form__field width50">
		<label class="form-label" for="title">
			<f:translate key="tx_rkwcompetition_domain_model_register.title" />
			<f:render partial="LabelSuffix" arguments="{field: 'title', mandatoryFields: settings.mandatoryFields.register}" />
		</label>
		<f:form.textfield property="title" id="title" />
	</div>

	<div class="form__field width50">
		<label class="form-label" for="firstName">
			<f:translate key="tx_rkwcompetition_domain_model_register.first_name" />
			<f:render partial="LabelSuffix" arguments="{field: 'firstName', mandatoryFields: settings.mandatoryFields.register}" />
		</label>
		<f:form.textfield property="firstName" id="firstName" />
	</div>

	<div class="form__field width50">
		<label class="form-label" for="lastName">
			<f:translate key="tx_rkwcompetition_domain_model_register.last_name" />
			<f:render partial="LabelSuffix" arguments="{field: 'lastName', mandatoryFields: settings.mandatoryFields.register}" />
		</label>
		<f:form.textfield property="lastName" id="lastName" />
	</div>

	<div class="form__field width100">
		<label class="form-label" for="address">
			<f:translate key="tx_rkwcompetition_domain_model_register.address" />
			<f:render partial="LabelSuffix" arguments="{field: 'address', mandatoryFields: settings.mandatoryFields.register}" />
		</label>
		<f:form.textfield property="address" id="address" />
	</div>

	<div class="form__field width50">
		<label class="form-label" for="zip">
			<f:translate key="tx_rkwcompetition_domain_model_register.zip" />
			<f:render partial="LabelSuffix" arguments="{field: 'zip', mandatoryFields: settings.mandatoryFields.register}" />
		</label>
		<f:form.textfield property="zip" id="zip" />
	</div>

	<div class="form__field width50">
		<label class="form-label" for="city">
			<f:translate key="tx_rkwcompetition_domain_model_register.city" />
			<f:render partial="LabelSuffix" arguments="{field: 'city', mandatoryFields: settings.mandatoryFields.register}" />
		</label>
		<f:form.textfield property="city" id="city" />
	</div>

	<div class="form__field width50">
		<label class="form-label" for="email">
			<f:translate key="tx_rkwcompetition_domain_model_register.email" />
			<f:render partial="LabelSuffix" arguments="{field: 'email', mandatoryFields: settings.mandatoryFields.register}" />
		</label>
		<f:form.textfield property="email" id="email" />
	</div>

	<div class="form__field width50">
		<label class="form-label" for="telephone">
			<f:translate key="tx_rkwcompetition_domain_model_register.telephone" />
			<f:render partial="LabelSuffix" arguments="{field: 'telephone', mandatoryFields: settings.mandatoryFields.register}" />
		</label>
		<f:form.textfield property="telephone" id="telephone" />
	</div>

	<div class="form__field width50">
		<label class="form-label" for="sector">
			<f:translate key="tx_rkwcompetition_domain_model_register.sector" />
			<f:render partial="LabelSuffix" arguments="{field: 'sector', mandatoryFields: settings.mandatoryFields.register}" />
		</label>
		<f:form.select
				class="select-field"
				id="sector"
				property="sector"
				value="{sector}"
				options="{competition.sectors}"
				optionValueField="uid"
				optionLabelField="title"
				prependOptionValue="0"
				prependOptionLabel="Bitte wählen"
		/>
	</div>

	<div class="form__field width100">
		<label class="form-label" for="contributionTitle">
			<f:translate key="tx_rkwcompetition_domain_model_register.contribution_title" />
			<f:render partial="LabelSuffix" arguments="{field: 'contributionTitle', mandatoryFields: settings.mandatoryFields.register}" />
		</label>
		<f:form.textfield property="contributionTitle" id="contributionTitle" />
	</div>

	<div class="form__field width100">
		<label class="form-label" for="institution">
			<f:translate key="tx_rkwcompetition_domain_model_register.institution" />
			<f:render partial="LabelSuffix" arguments="{field: 'Institution', mandatoryFields: settings.mandatoryFields.register}" />
		</label>
		<f:form.textfield property="institution" id="institution" />
	</div>

	<div class="form__field width100">
		<f:form.checkbox
				class="checkbox"
				id="isGroupWork"
				property="isGroupWork"
				value="1"
		/>
		<label for="isGroupWork" class="checkbox-label">
			<f:translate key="tx_rkwcompetition_domain_model_register.is_group_work" />
		</label>
	</div>

	<div class="form__field width50">
		<f:form.checkbox
				class="checkbox"
				id="groupWorkInsurance"
				property="groupWorkInsurance"
				value="1"
		/>
		<label for="groupWorkInsurance" class="checkbox-label">
			<f:translate key="tx_rkwcompetition_domain_model_register.group_work_insurance" />
			<f:render partial="LabelSuffix" arguments="{field: 'GroupWorkInsurance', mandatoryFields: settings.mandatoryFields.register}" />
		</label>
	</div>

	<div class="form__field width100">
		<label class="form-label" for="groupWorkAddPersons">
			<f:translate key="tx_rkwcompetition_domain_model_register.group_work_add_persons" />
			<f:render partial="LabelSuffix" arguments="{field: 'groupWorkAddPersons', mandatoryFields: settings.mandatoryFields.register}" />
		</label>
		<f:form.textarea property="groupWorkAddPersons" id="groupWorkAddPersons" />
	</div>

	<div class="form__field width100">
		<label class="form-label" for="remark">
			<f:translate key="tx_rkwcompetition_domain_model_register.remark" />
			<f:render partial="LabelSuffix" arguments="{field: 'remark', mandatoryFields: settings.mandatoryFields.register}" />
		</label>
		<f:form.textarea property="remark" id="remark" cols="40" rows="15" />
	</div>

	<div class="form__field width100">
		FileUpload Abstract
		<f:form.upload property="upload.fileAbstract" />
	</div>

	<div class="form__field width100">
		FileUpload Full version
		<f:form.upload property="upload.fileFull" />
	</div>

	<f:comment><!-- terms = "conditionsOfParticipation" --></f:comment>
	<feRegister:consent type="terms" key="default" />
	<f:comment><!-- privacy = "privacy" --></f:comment>
	<feRegister:consent type="privacy" key="default" />

	<f:comment>
		<!-- feRegister consent terms -->
		<label for="conditionsOfParticipation">
			<f:translate key="tx_rkwcompetition_domain_model_register.conditions_of_participation" />
		</label><br />
		<f:form.textfield property="conditionsOfParticipation" id="conditionsOfParticipation" /><br />
	</f:comment>

</html>