{namespace postmaster=Madj2k\Postmaster\ViewHelpers}
<f:layout name="Email/{mailType}" />


<!-- PLAINTEXT -->
<f:section name="Plaintext">
<postmaster:email.translate key="templates_email_backendUser_removalReminder.headline" languageKey="{language}" extensionName="rkwCompetition" arguments="{0 : fullName}" />

<postmaster:email.translate key="templates_email_backendUser_removalReminder.text1" languageKey="{language}" extensionName="rkwCompetition" />

<postmaster:email.translate key="templates_email_backendUser_removalReminder.text2" languageKey="{language}" extensionName="rkwCompetition" />

{competition.title}
</f:section>

<!-- HTML -->
<f:section name="Html">
	<h1><postmaster:email.translate key="templates_email_backendUser_removalReminder.headline" languageKey="{language}" extensionName="rkwCompetition" arguments="{0 : fullName}" /></h1>
	<p><postmaster:email.translate key="templates_email_backendUser_removalReminder.text1" languageKey="{language}" extensionName="rkwCompetition" /></p>
	<p class="important"><postmaster:email.translate key="templates_email_backendUser_removalReminder.text2" languageKey="{language}" extensionName="rkwCompetition" /></p>

	<p>
		Name: {competition.title}
	</p>
	<p>
		Löschdatum: {competition.recordRemovalDate -> f:format.date(format: 'd.m.Y')}
	</p>

</f:section>