<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwCompetition/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="content">



        <table class="responsive-table responsive-table--background" >
            <tr>
                <th>
                    <f:translate key="tx_rkwcompetition_fluid.templates_register_deletequestion.hint1" />
                </th>
            </tr>
            <tr>
                <td>
                    <f:translate key="tx_rkwcompetition_fluid.templates_register_deletequestion.hint2" />
                </td>
            </tr>
            <tr>
                <td>
                    <f:translate key="tx_rkwcompetition_fluid.templates_register_deletequestion.hint3" />
                </td>
            </tr>
            <tr>
                <td>
                    <f:translate key="tx_rkwcompetition_fluid.templates_register_deletequestion.hint4" />
                </td>
            </tr>
        </table>

        <f:link.action class="btn btn--secondary" controller="Register" action="delete" arguments="{register : register}">
            <f:translate key="tx_rkwcompetition_fluid.partials_participant_options.registerDelete" />
        </f:link.action>
    </f:section>

</html>