<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwCompetition/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="content">

        <h3>
            <f:translate key="tx_rkwcompetition_fluid.templates_register_deletequestion.headline" />
        </h3>

        <div class="system-message">
            <p class="system-message__item system-message__item--severity1">
                <f:translate key="tx_rkwcompetition_fluid.templates_register_deletequestion.hint2" />
            </p>
            <p class="system-message__item system-message__item--severity1">
                <f:translate key="tx_rkwcompetition_fluid.templates_register_deletequestion.hint3" />
            </p>
            <p class="system-message__item system-message__item--severity1">
                <f:translate key="tx_rkwcompetition_fluid.templates_register_deletequestion.hint4" />
            </p>
        </div>

        <div class="btn-list">
            <f:link.action class="btn btn--primary" controller="Register" action="delete" arguments="{register : register}">
                <f:translate key="tx_rkwcompetition_fluid.partials_participant_options.registerDelete" />
            </f:link.action>

            <f:link.action class="btn btn--secondary" controller="Participant" action="list">
                <f:translate key="tx_rkwcompetition_fluid.templates_register_deletequestion.backToList" />
            </f:link.action>
        </div>

    </f:section>

</html>
