
/*
TABLE
 */

table {

    margin: 20px 0;
    /* 93% seems to match the GoogleGraph width */
    width: 93%;

    thead th {
        background-color: orangered;
        text-align: center;
        min-width: 50px;
    }

    tbody tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    tbody tr:nth-child(even) {
        background-color: #ffffff;
    }

    tbody tr td.center {
        text-align: center;
    }
}

h1 {
    padding-top: 20px;
}

button.default-btn {
    margin: 10px;
}