<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-rkw-competition">
	<tr>
		<td><f:translate key="tx_rkwcompetition_fluid.templates_competition_show.title" /></td>
		<td>{competition.title}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_rkwcompetition_fluid.templates_competition_show.register_start" /></td>
		<td>{competition.registerStart -> f:format.date()}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_rkwcompetition_fluid.templates_competition_show.register_end" /></td>
		<td>{competition.registerEnd -> f:format.date()}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_rkwcompetition_fluid.templates_competition_show.allow_team_participation" /></td>
		<td>
		<f:if condition="{competition.allowTeamParticipation}">
			<f:then>
				<f:translate key="tx_rkwcompetition_fluid.yes" />
			</f:then>
			<f:else>
				<f:translate key="tx_rkwcompetition_fluid.no" />
			</f:else>
		</f:if>
		</td>
	</tr>
	<tr>
		<td><f:translate key="tx_rkwcompetition_fluid.templates_competition_show.link_cond_participation" /></td>
		<td><f:link.typolink parameter="{competition.linkCondParticipation}" /></td>
	</tr>
	<tr>
		<td><f:translate key="tx_rkwcompetition_fluid.templates_competition_show.link_privacy" /></td>
		<td><f:link.typolink parameter="{competition.linkPrivacy}" /></td>
	</tr>
	<tr>
		<td><f:translate key="tx_rkwcompetition_fluid.templates_competition_show.description" /></td>
		<td><f:link.typolink parameter="{competition.description}" /></td>
	</tr>
</table>
</html>
