<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Upload:
          Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>File Upload</h1>

    <f:flashMessages />

    <f:render partial="FormErrors" />

    <f:form
        enctype="multipart/form-data"
        action="update"
        name="register"
        object="{register}"
    >
        <div class="flex-container">
            <div class="form flex flex-basis-8 full-width-medium space-between">

                <f:form.hidden property="upload" value="{register.upload}" />

                <f:render partial="Upload/FormFields" arguments="{register:register}" />

                <button type="submit" class="btn btn--primary">
                    Hochladen
                </button>
            </div>
        </div>
    </f:form>
</f:section>
</html>
