<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="saluation">
	<f:translate key="tx_rkwcompetition_domain_model_register.saluation" />
</label><br />
	<f:form.textfield property="saluation" id="saluation" /><br />
<label for="title">
	<f:translate key="tx_rkwcompetition_domain_model_register.title" />
</label><br />
	<f:form.textfield property="title" id="title" /><br />
<label for="firstName">
	<f:translate key="tx_rkwcompetition_domain_model_register.first_name" />
</label><br />
	<f:form.textfield property="firstName" id="firstName" /><br />
<label for="lastName">
	<f:translate key="tx_rkwcompetition_domain_model_register.last_name" />
</label><br />
	<f:form.textfield property="lastName" id="lastName" /><br />
<label for="institution">
	<f:translate key="tx_rkwcompetition_domain_model_register.institution" />
</label><br />
	<f:form.textfield property="institution" id="institution" /><br />
<label for="address">
	<f:translate key="tx_rkwcompetition_domain_model_register.address" />
</label><br />
	<f:form.textfield property="address" id="address" /><br />
<label for="zip">
	<f:translate key="tx_rkwcompetition_domain_model_register.zip" />
</label><br />
	<f:form.textfield property="zip" id="zip" /><br />
<label for="city">
	<f:translate key="tx_rkwcompetition_domain_model_register.city" />
</label><br />
	<f:form.textfield property="city" id="city" /><br />
<label for="contributionTitle">
	<f:translate key="tx_rkwcompetition_domain_model_register.contribution_title" />
</label><br />
	<f:form.textfield property="contributionTitle" id="contributionTitle" /><br />
<label for="typeOfWork">
	<f:translate key="tx_rkwcompetition_domain_model_register.type_of_work" />
</label><br />
	<f:form.textfield property="typeOfWork" id="typeOfWork" /><br />
<label for="competitionArea">
	<f:translate key="tx_rkwcompetition_domain_model_register.competition_area" />
</label><br />
	<f:form.textfield property="competitionArea" id="competitionArea" /><br />
<label for="remark">
	<f:translate key="tx_rkwcompetition_domain_model_register.remark" />
</label><br />
	<f:form.textarea property="remark" id="remark" cols="40" rows="15" /><br />
<label for="privacy">
	<f:translate key="tx_rkwcompetition_domain_model_register.privacy" />
</label><br />
	<f:form.textfield property="privacy" id="privacy" value="{register.privacy->f:format.date()}" /><br />
<label for="conditionsOfParticipation">
	<f:translate key="tx_rkwcompetition_domain_model_register.conditions_of_participation" />
</label><br />
	<f:form.textfield property="conditionsOfParticipation" id="conditionsOfParticipation" /><br />
<label for="isGroupWork">
	<f:translate key="tx_rkwcompetition_domain_model_register.is_group_work" />
</label><br />
	<f:form.textfield property="isGroupWork" id="isGroupWork" /><br />
<label for="groupWorkInsurance">
	<f:translate key="tx_rkwcompetition_domain_model_register.group_work_insurance" />
</label><br />
	<f:form.textfield property="groupWorkInsurance" id="groupWorkInsurance" /><br />
<label for="groupWorkAddPersons">
	<f:translate key="tx_rkwcompetition_domain_model_register.group_work_add_persons" />
</label><br />
	<f:form.textfield property="groupWorkAddPersons" id="groupWorkAddPersons" /><br />
</html>