<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:postmaster="http://typo3.org/ns/Madj2k/Postmaster/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwCompetition/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="content">
        <f:render partial="Breadcrumbs" arguments="{_all}" />

        <div class="row">
            <div class="col-sm-12">
                <h1>{competition.title}</h1>
            </div>
        </div>

        <f:flashMessages />

                    <f:if condition="{competition}">
                        <f:else>
                            <f:translate key="templates_backend_show.noCompetitionSelected" />
                        </f:else>
                        <f:then>
                            <div class="row">
                                <div class="col-sm-6">
                                    <table class="table table-striped table-hover">
                                        <tr>
                                            <th><f:translate key="templates_backend_show.registrationsTotal" /></th>
                                            <td>{registerCountTotal}</td>
                                        </tr>
                                        <tr>
                                            <th><f:translate key="templates_backend_show.finishedRegistrations" /></th>
                                            <td>{finishedRegisterCount}</td>
                                        </tr>
                                        <tr>
                                            <th><f:translate key="templates_backend_show.refusedRegistrations" /></th>
                                            <td>{refusedRegisterCount}</td>
                                        </tr>
                                        <tr>
                                            <th><f:translate key="templates_backend_show.regStart" /></th>
                                            <td><f:format.date format="d.m.Y">{competition.registerStart}</f:format.date></td>
                                        </tr>
                                        <tr>
                                            <th><f:translate key="templates_backend_show.regEnd" /></th>
                                            <td><f:format.date format="d.m.Y">{competition.registerEnd}</f:format.date></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <f:render section="competitionTable" arguments="{_all}" />

                            <h2>
                                <f:translate key="templates_backend_show.confirmedJuryMember" />
                            </h2>
                            <p>
                                <f:translate key="templates_backend_show.confirmedJuryMemberExplained" />
                            </p>
                            <p>
                                <em><f:translate key="templates_backend_show.confirmedJuryMemberHint" /></em>
                            </p>

                            <f:render section="juryTable" arguments="{_all}" />

                        </f:then>
                    </f:if>
    </f:section>



    <f:section name="competitionTable">
        <h3><f:translate key="templates_backend_show.registrations" /></h3>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th class="nowrap">
                    <f:translate key="templates_backend_show.id" />
                </th>
                <th class="nowrap">
                    <f:translate key="templates_backend_show.name" />
                </th>
                <th class="nowrap">
                    <f:translate key="templates_backend_show.email" />
                </th>
                <th class="nowrap">
                    <f:translate key="templates_backend_show.title" />
                </th>
                <th class="nowrap">
                    <f:translate key="templates_backend_show.sector" />
                </th>
                <th class="nowrap">
                    <f:translate key="templates_backend_show.status" />
                </th>
                <th class="nowrap" style="width: 100px;">
                    <f:translate key="templates_backend_show.action" />
                </th>
            </tr>
            </thead>
            <tbody>
                <f:for each="{registerList}" as="register">
                    <f:render section="sector" arguments="{register: register}" />
                </f:for>
            </tbody>
        </table>
    </f:section>


    <f:section name="sector">
        <tr>
            <td>
                {register.uid}
            </td>
            <td>
                <f:link.action action="registerDetail" arguments="{register: register}">
                    {register.lastName}, {register.firstName}
                </f:link.action>
            </td>
            <td>
                {register.email}
            </td>
            <td>
                {register.contributionTitle}
            </td>
            <td>
                {register.sector.title}
            </td>
            <td>
                <f:if condition="<rkw:registerStatus register='{register}' /> == 500">
                    <f:translate key="templates_backend_show.status.approved" />
                </f:if>
                <f:if condition="<rkw:registerStatus register='{register}' /> == 300">
                    <f:translate key="templates_backend_show.status.submitted" />
                </f:if>
                <f:if condition="<rkw:registerStatus register='{register}' /> == 200">
                    <f:translate key="templates_backend_show.status.refused" />
                </f:if>
                <f:if condition="<rkw:registerStatus register='{register}' /> == 100">
                    <f:translate key="templates_backend_show.status.new" />
                </f:if>
            </td>
            <td>
                <f:link.action class="btn btn-default" action="registerDetail" arguments="{register: register}">
                    <core:icon identifier="actions-view" /> <f:translate key="templates_backend_show.show" />
                </f:link.action>
            </td>
        </tr>
    </f:section>


    <f:section name="juryTable">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th class="nowrap">
                    <f:translate key="templates_backend_show.juryEmail" />
                </th>
                <th class="nowrap">
                    <f:translate key="templates_backend_show.juryInviteMailDate" />
                </th>
                <th class="nowrap">
                    <f:translate key="templates_backend_show.juryAgreement" />
                </th>
                <th class="nowrap">
                    <f:translate key="templates_backend_show.juryLink" />
                </th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{competition.juryMemberConfirmed}" as="juryReference">
                <tr>
                    <td>
                        {juryReference.email}
                    </td>
                    <td>
                        <f:format.date format="d.m.Y">{juryReference.invitationMailTstamp}</f:format.date>
                    </td>
                    <td>
                        <f:format.date format="d.m.Y">{juryReference.consentedAt}</f:format.date>
                    </td>
                    <td>
                        <f:if condition="{juryReference.consentedAt}">
                            <f:then>
                                <f:for each="{juryMemberLinkArray}" as="juryMemberLink" key="juryMemberEmail">
                                    <f:if condition="{juryMemberEmail} == {juryReference.email}">
                                        <a class="btn btn-default" href="{juryMemberLink}" target="_blank">
                                            <core:icon identifier="actions-view-external" /> <f:translate key="templates_backend_show.login" />
                                        </a>
                                    </f:if>
                                </f:for>
                            </f:then>
                            <f:else>
                                <f:translate key="templates_backend_show.juryNotConfirmed" />
                            </f:else>
                        </f:if>
                    </td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </f:section>

</html>
