<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwCompetition/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:if condition="{registerList}">
    <f:then>
        <f:for each="{registerList}" as="register">
            <f:if condition="{register.competition}">
                <f:variable name="competitionLink">
                    <f:link.action
                        pageUid="{settings.competitionPid}"
                        target="_blank"
                        controller="Competition"
                        action="show"
                        arguments="{competition : register.competition}"
                    >
                        {register.competition.title}
                    </f:link.action>
                </f:variable>
                <div class="flex space-between valign-center">
                    <div class="flex-basis-9">
                        <h3 class="h3">
                            <f:format.raw>
                                <f:translate key="tx_rkwcompetition_fluid.partials_participant_listing.headline" arguments="{0: competitionLink, 1: '{register.competition.registerEnd -> f:format.date(format: \'d.m.Y\')}'}" />
                            </f:format.raw>
                        </h3>
                    </div>

                    <f:variable name="regStatus" value="<rkw:registerStatus register='{register}' />"/>
                    <f:variable name="statusClass">
                        <f:switch expression="{regStatus}">
                            <f:case value="100">badge--secondary</f:case>
                            <f:case value="300">badge--primary</f:case>
                            <f:case value="400">badge--warning</f:case>
                            <f:case value="500">badge--success</f:case>
                            <f:case value="200">badge--danger</f:case>
                            <f:defaultCase>badge--secondary</f:defaultCase>
                        </f:switch>
                    </f:variable>
                    <div class="flex-basis-3 pt-1 flex flex-end valign-center">
                                        <span class="badge {statusClass}">
                                            <f:translate key="tx_rkwcompetition_fluid.partials_participant_listing.status.{regStatus}"/>
                                        </span>

                        <f:comment><!-- ViewHelper returns true if reg time for competition is still running --></f:comment>
                        <f:if condition="<rkw:isDateWithinDeadline date='{register.competition.registerEnd}' />">
                            <f:if condition="{regStatus} == 100 || {regStatus} == 400">
                                <f:link.action
                                    class="text-secondary ml-025"
                                    controller="Register"
                                    action="edit"
                                    arguments="{register : register}"
                                    title="{f:translate(key: 'tx_rkwcompetition_fluid.partials_participant_options.registerEdit')}"
                                >
                                    <svg class="icon icon--24" aria-hidden="true">
                                        <use xlink:href="#ic-cog"/>
                                    </svg>
                                </f:link.action>

                                <f:link.action
                                    class="text-secondary ml-025"
                                    controller="Register"
                                    action="deleteQuestion"
                                    arguments="{register : register}"
                                    title="{f:translate(key: 'tx_rkwcompetition_fluid.partials_participant_options.registerDelete')}"
                                >
                                    <svg class="icon icon--24" aria-hidden="true">
                                        <use xlink:href="#ic-trash"/>
                                    </svg>
                                </f:link.action>
                            </f:if>
                        </f:if>
                    </div>
                </div>
                <f:if condition="{regStatus} == 200 && {register.adminRefusedText}">
                    <p>
                        <f:translate key="tx_rkwcompetition_fluid.partials_participant_listing.reason"/>
                        {register.adminRefusedText}
                    </p>
                </f:if>
                <f:if condition="{regStatus} == 400 && {register.adminReturnedText}">
                    <p>
                        <f:translate key="tx_rkwcompetition_fluid.partials_participant_listing.reason"/>
                        {register.adminReturnedText}
                    </p>
                </f:if>
                <p>
                    <f:format.raw>
                        <f:translate key="tx_rkwcompetition_fluid.partials_participant_listing.intro" arguments="{0: competitionLink, 1: '{register.competition.registerEnd -> f:format.date(format: \'d.m.Y\')}'}" />
                    </f:format.raw>
                </p>
                <h4>
                    <f:translate key="tx_rkwcompetition_fluid.partials_participant_listing.projectDescription"/>
                </h4>

                <p>
                    <!-- Abstract / Kurzfassung -->
                    <f:if condition="{register.upload.abstract}">
                        <f:then>
                            <a href="{register.upload.abstract.originalResource.publicUrl}" target="_blank">
                                <svg class="icon icon--16" aria-hidden="true">
                                    <use xlink:href="#ic-download"/>
                                </svg>
                                {register.upload.abstract.originalResource.name}
                            </a>
                        </f:then>
                        <f:else>
                            <f:translate key="tx_rkwcompetition_fluid.partials_participant_listing.abstractMissing"/>
                        </f:else>
                    </f:if>
                    <br/>

                    <!-- Langfassung -->
                    <f:if condition="{register.upload.full}">
                        <f:then>
                            <a href="{register.upload.full.originalResource.publicUrl}" target="_blank">
                                <svg class="icon icon--16" aria-hidden="true">
                                    <use xlink:href="#ic-download"/>
                                </svg>
                                {register.upload.full.originalResource.name}
                            </a>
                        </f:then>
                        <f:else>
                            <f:translate key="tx_rkwcompetition_fluid.partials_participant_listing.fullVersionMissing"/>
                        </f:else>
                    </f:if>
                </p>
                <h4>
                    <f:translate key="tx_rkwcompetition_fluid.partials_participant_listing.cloudHeadline"/>
                </h4>
                <p>
                    <f:translate key="tx_rkwcompetition_fluid.partials_participant_listing.cloudUrl"/>:
                    <f:link.external
                        uri="{register.ownCloudFolderLink}"
                        target="_blank"
                    >
                        {register.ownCloudFolderLink}
                    </f:link.external>
                    <br>

                    <f:translate key="tx_rkwcompetition_fluid.partials_participant_listing.cloudPassword"/>:
                    <rkw:ownCloudUserFolderPass register='{register}'/>
                </p>
                <f:render partial="Participant/Options" arguments="{_all}"/>
            </f:if>
        </f:for>
    </f:then>
    <f:else>
        <div class="system-message" role="alert">
            <div class="system-message__item system-message__item--severity0">
                <f:translate key="tx_rkwcompetition_fluid.partials_participant_listing.noCompetitionPlanned"/>
            </div>
        </div>
    </f:else>
</f:if>

</html>
