{namespace postmaster=Madj2k\Postmaster\ViewHelpers}
<f:layout name="Email/{mailType}" />


<!-- PLAINTEXT -->
<f:section name="Plaintext">
<postmaster:email.translate key="templates_email_frontendUser_delete.headline" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" arguments="{0 : frontendUser.firstName, 1: frontendUser.lastName}" />

<postmaster:email.translate key="templates_email_frontendUser_delete.text1" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" />
<postmaster:email.translate key="templates_email_frontendUser_delete.text2" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" />

<f:render partial="Email/Details" section="Plaintext" arguments="{register: register, frontendUser: frontendUser, language:frontendUser.txFeregisterLanguageKey, showPid: showPid}"/>
</f:section>

<!-- HTML -->
<f:section name="Html">
	<h1><postmaster:email.translate key="templates_email_frontendUser_delete.headline" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" arguments="{0 : frontendUser.firstName, 1: frontendUser.lastName}" /></h1>
	<p>
		<postmaster:email.translate key="templates_email_frontendUser_delete.text1" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" /><br>
		<postmaster:email.translate key="templates_email_frontendUser_delete.text2" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" />
	</p>

	<f:render partial="Email/Details" section="Html" arguments="{register:register, frontendUser: frontendUser, language:frontendUser.txFeregisterLanguageKey, showPid: showPid}"/>

</f:section>