{namespace postmaster=Madj2k\Postmaster\ViewHelpers}
<f:layout name="Email/{mailType}" />


<!-- PLAINTEXT -->
<f:section name="Plaintext">
<postmaster:email.translate key="templates_email_frontendUser_optIn.headline" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" />

<postmaster:email.translate key="templates_email_frontendUser_optIn.text1" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition"  />
<postmaster:email.translate key="templates_email_frontendUser_optIn.text2" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition"  />

<f:render partial="Email/Details" section="Plaintext" arguments="{register:optIn.data, frontendUser: frontendUser, language:frontendUser.txFeregisterLanguageKey, showPid: showPid, competitionPid: competitionPid}"/>

=============================================================
<postmaster:email.translate key="templates_email_frontendUser_optIn.confirmHeadline" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition"/>
=============================================================

<postmaster:email.translate key="templates_email_frontendUser_optIn.textOptIn" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" />
<postmaster:email.uri.action action="optIn" controller="Register" extensionName="rkwCompetition" pluginName="register" absolute="true" pageUid="{pageUid}" additionalParams="{tx_rkwcompetition_register: {token: optIn.tokenYes, tokenUser: optIn.tokenUser, competition: optIn.data.competition}}" section="rkw-competition" />

<postmaster:email.translate key="templates_email_frontendUser_optIn.textOptOut" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" />
<postmaster:email.uri.action action="optIn" controller="Register" extensionName="rkwCompetition" pluginName="register" absolute="true" pageUid="{pageUid}" additionalParams="{tx_rkwcompetition_register: {token: optIn.tokenYes, tokenUser: optIn.tokenNo, competition: optIn.data.competition}}" section="rkw-competition" />
</f:section>


<!-- HTML -->
<f:section name="Html">
	<h1><postmaster:email.translate key="templates_email_frontendUser_optIn.headline" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" /></h1>
	<p>
		<postmaster:email.translate key="templates_email_frontendUser_optIn.text1" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" /><br>
		<strong><postmaster:email.translate key="templates_email_frontendUser_optIn.text2" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" /></strong>
	</p>

	<f:render partial="Email/Details" section="Html" arguments="{register:optIn.data, frontendUser: frontendUser, language:frontendUser.txFeregisterLanguageKey, showPid: showPid, competitionPid: competitionPid}"/>

	<h2><postmaster:email.translate key="templates_email_frontendUser_optIn.confirmHeadline" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition"/></h2>
	<p>
		<postmaster:email.translate key="templates_email_frontendUser_optIn.textOptIn" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition"/><br>
        <a href="<postmaster:email.uri.action action='optIn' controller='Register' extensionName='rkwCompetition' pluginName='register' absolute='true' pageUid='{pageUid}' additionalParams='{tx_rkwcompetition_register: {token: optIn.tokenYes, tokenUser: optIn.tokenUser, competition: optIn.data.competition}}' section='rkw-competition' />">
            <postmaster:email.translate key="templates_email_frontendUser_optIn.textOptInLinkLabel" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition"/>
        </a>
	</p>
	<p>
		<postmaster:email.translate key="templates_email_frontendUser_optIn.textOptOut" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" /><br>
        <a href="<postmaster:email.uri.action action='optIn' controller='Register' extensionName='rkwCompetition' pluginName='register' absolute='true' pageUid='{pageUid}' additionalParams='{tx_rkwcompetition_register: {token: optIn.tokenNo, tokenUser: optIn.tokenUser, competition: optIn.data.competition}}' section='rkw-competition' />">
            <postmaster:email.translate key="templates_email_frontendUser_optIn.textOptOutLinkLabel" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition"/>
        </a>
	</p>
</f:section>