<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:postmaster="http://typo3.org/ns/Madj2k/Postmaster/ViewHelpers"
      xmlns:rkw="http://typo3.org/ns/RKW/RkwCompetition/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="Email/{mailType}" />

    <!-- PLAINTEXT -->
    <f:section name="Plaintext">
        <postmaster:email.translate key="templates_email_frontendUser_returned.headline" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" arguments="{0 : frontendUser.firstName, 1: frontendUser.lastName}" />

        <postmaster:email.translate key="templates_email_frontendUser_returned.text1" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" arguments="{0 : register.competition.title}" />
        <f:if condition="{register.adminReturnedText}">
            <br />
            <strong><postmaster:email.translate key="templates_email_frontendUser.commentPrefix" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" /></strong>
            {register.adminReturnedText}
        </f:if>

        =============================================================
        <postmaster:email.translate key="templates_email_frontendUser_returned.showHeadline" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" />
        <postmaster:email.translate key="templates_email_frontendUser_returned.text3" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" />
        <postmaster:email.uri.page absolute="true" pageUid="{loginPid}" />
    </f:section>

    <!-- HTML -->
    <f:section name="Html">
        <h1><postmaster:email.translate key="templates_email_frontendUser_returned.headline" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" arguments="{0 : frontendUser.firstName, 1: frontendUser.lastName}" /></h1>
        <p>
            <postmaster:email.translate key="templates_email_frontendUser_returned.text1" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" arguments="{0 : register.competition.title}" />
        </p>
        <f:if condition="{register.adminReturnedText}">
            <p>
                <strong><postmaster:email.translate key="templates_email_frontendUser.commentPrefix" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" /></strong><br />
                <f:format.nl2br>{register.adminReturnedText}</f:format.nl2br>
            </p>
        </f:if>

        <h2><postmaster:email.translate key="templates_email_frontendUser_returned.showHeadline" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" /></h2>
        <p>
            <a href="<postmaster:email.uri.page absolute='true' pageUid='{loginPid}' />" target="_blank"><postmaster:email.translate key="templates_email_frontendUser_returned.text3" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" /></a>
        </p>
    </f:section>
</html>
