{namespace postmaster=Madj2k\Postmaster\ViewHelpers}
{namespace rkw=RKW\RkwCompetition\ViewHelpers}
<f:layout name="Email/{mailType}" />


<!-- PLAINTEXT -->
<f:section name="Plaintext">

	<!-- Plaintext area -->
	Plaintext

</f:section>

<!-- HTML -->
<f:section name="Html">
	<h1><postmaster:email.translate key="templates_email_frontendUser_upload.headline" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" arguments="{0 : frontendUser.firstName, 1: frontendUser.lastName}" /></h1>
	<p>
		<postmaster:email.translate key="templates_email_frontendUser_upload.text1" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" /><br>
		<postmaster:email.translate key="templates_email_frontendUser_upload.text2" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" />
	</p>

	<p>
		Vielen Dank für Ihre Anmeldung. Bitte laden Sie nun entsprechende Unterlagen hoch.
		@toDo: Link zu Loginbereich mit Api Link
		<a href="<postmaster:email.uri.action absolute='true' pageUid='{competitionPid}' action='show' controller='Competition' extensionName='rkwCompetition' pluginName='competition' additionalParams='{tx_rkwcompetition_competition: {competition: register.competition.uid}}' />" target="_blank">
			{register.competition.title}
		</a>

	</p>
	<h2><postmaster:email.translate key="templates_email_frontendUser_upload.changeDeleteHeadline" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" /></h2>
	<p>
		<a href="<postmaster:email.uri.page absolute='true' pageUid='{loginPid}' />" target="_blank"><postmaster:email.translate key="templates_email_frontendUser_upload.text3" languageKey="{queueRecipient.languageCode}" extensionName="rkwCompetition" /></a>
	</p>
</f:section>
